.gradle/
.idea/
.nb-gradle/
.nb-gradle-properties
.settings/
bin/
build/
eclipse/
private/
push/
run/
src/ic2
out/

/gradle.properties

CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt

.classpath
.project

*.iml
*.ipr
*.iws
